html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1a1a2e, #5f0f40, #3a86ff);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  color:  #eaf6ff;
}

.carta_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carta_button {
  display: flex;
  flex-direction: column;
  align-items: center;     /* Центрує кнопки горизонтально */
  justify-content: center; /* Центрує кнопки вертикально */
  height: 100vh;           /* Займає всю висоту екрану */
  width: 100%;
}

.carta_button > div {
  display: flex;
  justify-content: center; /* Центрує кнопки горизонтально */
  align-items: center;     /* Центрує кнопки по висоті в ряду */
  width: 100%;
  margin-bottom: 10px;
}

.button_text {
  flex: 1 1 0;
  margin: 0 5px;
  width: 100%;
  max-width: 250px;
  min-width: 0;
  box-sizing: border-box;
  font-weight: bold;       /* Робить текст жирним */
  font-size: 1.2rem;
  display: flex;
  justify-content: center; /* Центрує текст кнопки по горизонталі */
  align-items: center;     /* Центрує текст кнопки по вертикалі */
  height: 60px;            /* Задає висоту для кращого вертикального центрування */
}

.button_text {
  width: 250px;
  height: 85px;
  border-radius: 20px;
  color: #eaf6ff;
  background-color: rgba(135, 206, 250, 0.65);
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.4);
  backdrop-filter: blur(8px);
  box-shadow: 
    0 10px 25px rgba(0, 120, 200, 0.25),
    inset 0 1px 0 rgba(255,255,255,0.4);

  transition: all 0.25s ease;
}
.button_text:hover {
  transform: translateY(-2px);
  box-shadow: 
    0 14px 35px rgba(0, 120, 200, 0.35),
    inset 0 1px 0 rgba(255,255,255,0.5);
}

.audio-card {
  height: 85px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* Скляний ефект */
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Кнопка Play */
.play-btn {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: #3390ec; /* Фірмовий синій Telegram */
  border: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.play-btn:hover {
  transform: scale(1.1);
  background-color: #2b7cd1;
}

/* Область хвилі */
#waveform {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}
#audio_1,
#audio_2,
#audio_3,
#audio_4,
#audio_5,
#audio_6 {
  flex: 1;
  height: 40px;
}